<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<input type="text" name="user" id="user"><br>
	<input type="text" name="psd" id="psd"><br>
	<input type="button" value="登录" onclick="qw()">
</body>
</html>
<script src="__PUBLIC__/jquery.js"></script>
<script>
	function qw(){
		var user=$("#user").val();
		var psd=$("#psd").val();
		$.ajax({
			type:"post",
			url:"{:U('bdd')}",
			data:{
				user:user,
				psd:psd
			},
			dataType:"json",
			success:function(a){
				console.log(a);
				if(a['code']==5){
					alert("登录成功");
					window.location.href="{:U('cdd')}";
				}else{
					alert("登录失败");
				}

			}
		})
	}

</script>