
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 商品列表 </title>
<meta name="Copyright" content="Douco Design." />
<link href="__PUBLIC__/admin/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/global.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.autotextarea.js"></script>
</head>
<body>

<include file="./Application/Home/View/Privileges/header.html"/>
<!-- dcHead 结束 --> 
 <include file="./Application/Home/View/Privileges/left.html"/>



<div id="urHere">DouPHP 管理中心<b>></b><strong>商品列表</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:U('insert')}" class="actionBtn add">添加商品</a>商品列表</h3>
    <div class="filter">
    <form action="product.php" method="post">
     <select name="fid">
              <option value="0">顶级权限</option>

          <foreach name="info1" item="vo" key="k" >  
            <option value="{$vo.id}"> <?php echo str_repeat('|-',$vo['fid']); ?>{$vo.type_name}</option>
          </foreach>
               
                          </select>
     <input name="keyword" type="text" class="inpMain" value="" size="20" />
     <input name="submit" class="btnGray" type="submit" value="筛选" />
    </form>
    <span>
    <a class="btnGray" href="product.php?rec=re_thumb">更新商品缩略图</a>
        <a class="btnGray" href="product.php?rec=sort">开始筛选首页商品</a>
        </span>
    </div>
        <div id="list">
    <form name="action" method="post" action="product.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
   
        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
        <th>商品名称</th>
        <th>产品所在地</th>
        <th>商品图片</th>
        <th>是否需要运送</th>
        <th>商品价格</th>
        <th>上架/下架</th>
        <th>分类id</th>
        <th>操作</th>

      <foreach name="info" item="v" key="k" >
        <tr>
          <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
          <td align="center">{$v.shopname}</td>
          <td align="center">{$v.location}</td>
          <td align="center">
                    <foreach name="v.files" item="vo" key="k" >
                      <img src="/Uploads/{$vo}" width="50px" height="50px">
        
                    </foreach>

          </td>
          <td align="center">
            <if condition="($v.shipping eq 1)"> 送达<else/>不送</if>
          </td>
          <td align="center">{$v.price}</td>
          <td align="center">
            <a href="{:U('shangjia',array('id'=>$v['shopid'],'status'=>$v['status']) )}">{$v.status}</a>
          </td>
          <td align="center">{$vo.type_name}</td>
          <td align="center">
             <a href="{:U('update',array('id'=>$v['shopid']))}">编辑</a> |
             <a href="{:U('delete',array('id'=>$v['shopid']))}">删除</a>
          </td>
        </tr>
      </foreach>

          </table>
    <div class="action">
     <select name="action" onchange="douAction()">
      <option value="0">请选择...</option>
      <option value="del_all">删除</option>
      <option value="category_move">移动分类至</option>
     </select>
     <select name="new_cat_id" style="display:none">
      <option value="0">未分类</option>
                  <option value="1"> 电子数码</option>
                        <option value="4">- 智能手机</option>
                        <option value="5">- 平板电脑</option>
                        <option value="2"> 家居百货</option>
                        <option value="3"> 母婴用品</option>
                 </select>
     <input name="submit" class="btn" type="submit" value="执行" />
    </div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">总计 15 个记录，共 1 页，当前第 1 页 | <a href="product.php?page=1">第一页</a> 上一页 下一页 <a href="product.php?page=1">最末页</a></div>               </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>

</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
<script type="text/javascript">

onload = function()
{
 document.forms['action'].reset();
}

function douAction()
{
 var frm = document.forms['action'];
 frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
}

</script>
</body>
</html>
