 <div id="dcLeft"><div id="menu">
 <ul class="top">
  <li><a href="{:U('User/showUser')}"><i class="home"></i><em>用户管理</em></a></li>
 </ul>
 <ul>
  <li><a href="{:U('Roles/showRole')}"><i class="system"></i><em>角色管理</em></a></li>
 </ul>
   <ul>
  <li><a href="{:U('Privileges/show')}"><i class="productCat"></i><em>权限管理</em></a></li>
 </ul>
 <ul>
  <li><a href="{:U('Category/category_add')}"><i class="productCat"></i><em>分类管理 </em></a></li>
 </ul>
 <ul>
  <li><a href="{:U('Shop/insert')}"><i class="productCat"></i><em>商品管理 </em></a></li>
 </ul>
  <ul>
  <li><a href="{:U('diqu/demo')}"><i class="productCat"></i><em>地址管理 </em></a></li>
 </ul>
   <ul>
  <li><a href="{:U('Lunbo/add')}"><i class="productCat"></i><em>轮播管理 </em></a></li>
 </ul>
 <ul>
  <li><a href="{:U('Zhuce/add')}"><i class="productCat"></i><em>注册管理 </em></a></li>
 </ul>
 <ul>
  <li><a href="{:U('Ym/index')}"><i class="productCat"></i><em>商城页面管理 </em></a></li>
 </ul>
</div></div> 
 <div id="dcMain">